@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);





body {
  font-family: Dosis;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Dosis', sans-serif;
  font-size: 3.5rem;
}
.display-1 > .mbr-iconfont {
  font-size: 5.6rem;
}
.display-2 {
  font-family: 'Dosis', sans-serif;
  font-size: 2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-5 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-7 {
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.8rem;
    font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #ffbc00 !important;
}
.bg-success {
  background-color: #36d88a !important;
}
.bg-info {
  background-color: #ff4100 !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #ffbc00;
  border-color: #ffbc00;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #b38400;
  border-color: #b38400;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b38400 !important;
  border-color: #b38400 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #3e97d1;
  border-color: #3e97d1;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #256e9d;
  border-color: #256e9d;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #256e9d !important;
  border-color: #256e9d !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #ff4100;
  border-color: #ff4100;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #b32d00;
  border-color: #b32d00;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #b32d00 !important;
  border-color: #b32d00 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #36d88a;
  border-color: #36d88a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #1fa263;
  border-color: #1fa263;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #1fa263 !important;
  border-color: #1fa263 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #c1c1c1;
  border-color: #c1c1c1;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #9b9b9b;
  border-color: #9b9b9b;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #444444;
  border-color: #444444;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #1e1e1e;
  border-color: #1e1e1e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #997100;
  color: #997100;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #ffbc00;
  border-color: #ffbc00;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #215f88;
  color: #215f88;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #3e97d1;
  border-color: #3e97d1;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #3e97d1 !important;
  border-color: #3e97d1 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #992700;
  color: #992700;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #ff4100;
  border-color: #ff4100;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4100 !important;
  border-color: #ff4100 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #1b8d56;
  color: #1b8d56;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #36d88a;
  border-color: #36d88a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #36d88a !important;
  border-color: #36d88a !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #8e8e8e;
  color: #8e8e8e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #111111;
  color: #111111;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ffbc00 !important;
}
.text-secondary {
  color: #3e97d1 !important;
}
.text-success {
  color: #36d88a !important;
}
.text-info {
  color: #ff4100 !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #997100 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #215f88 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #1b8d56 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #992700 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8e8e8e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ff4100;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #444444;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffbc00;
  border-color: #ffbc00;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #ffbc00;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fff2cc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #e1f9ed;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffd9cc;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
#scrollToTop a {
  background: #444444;
  opacity: .5;
}
#scrollToTop a:hover {
  opacity: .7;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #ffffff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow {
  background-color: #444444;
  opacity: .5;
  transition: .3s;
}
.mbr-arrow a {
  color: #ffffff;
}
.mbr-arrow:hover {
  opacity: .7;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #ffbc00;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #ffbc00;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #ffbc00;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ffbc00;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ffbc00;
}
/* Headers*/
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.cid-qFDGpdP6XX .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #444444;
}
.cid-qFDGpdP6XX .navbar.opened {
  transition: all .3s;
  background: #444444 !important;
}
.cid-qFDGpdP6XX .navbar .dropdown-item {
  transition: all .3s;
  padding: .3rem 1.5rem;
  border-bottom: 1px solid #2b2b2b;
  color: #ffffff !important;
  background: #444444 !important;
}
.cid-qFDGpdP6XX .navbar .dropdown-item:hover {
  padding-left: 2rem;
}
.cid-qFDGpdP6XX .navbar .dropdown-item:focus border {
  outline: none;
}
.cid-qFDGpdP6XX .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-qFDGpdP6XX .navbar .dropdown-menu {
  width: 100%;
  padding: 3px 0 0 0;
  background: transparent !important;
}
.cid-qFDGpdP6XX .navbar .dropdown-menu > .dropdown-item:first-child {
  border-top: 2px solid #ffbc00;
}
.cid-qFDGpdP6XX .navbar .dropdown-menu .dropdown-submenu {
  padding-top: 0px;
}
.cid-qFDGpdP6XX .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-qFDGpdP6XX .navbar.collapsed .dropdown-menu {
  width: auto;
  padding: 1rem 0 1rem 0;
  border-top: none !important;
  background: transparent !important;
}
.cid-qFDGpdP6XX .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qFDGpdP6XX .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qFDGpdP6XX .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qFDGpdP6XX .navbar.collapsed .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 0.667em 1.667em;
}
.cid-qFDGpdP6XX .navbar.collapsed .nav-dropdown .link {
  margin: 0.667em 1.667em;
}
.cid-qFDGpdP6XX .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qFDGpdP6XX .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
  border-bottom: none !important;
  background: transparent !important;
  color: inherit !important;
}
.cid-qFDGpdP6XX .navbar.collapsed .dropdown-menu .dropdown-item:first-child {
  border-top: none;
}
@media (max-width: 991px) {
  .cid-qFDGpdP6XX .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-qFDGpdP6XX .navbar .dropdown-menu {
    width: auto;
    padding: 1rem 0 1rem 0;
    background: transparent !important;
    border-top: none !important;
  }
  .cid-qFDGpdP6XX .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qFDGpdP6XX .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qFDGpdP6XX .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qFDGpdP6XX .navbar .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    padding: 0.667em 1.667em;
  }
  .cid-qFDGpdP6XX .navbar .nav-dropdown .link {
    margin: 0.667em 1.667em;
  }
  .cid-qFDGpdP6XX .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qFDGpdP6XX .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qFDGpdP6XX .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
    border-bottom: none !important;
    background: transparent !important;
    color: inherit !important;
  }
  .cid-qFDGpdP6XX .navbar .dropdown-menu .dropdown-item:first-child {
    border-top: none;
  }
  .cid-qFDGpdP6XX .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-qFDGpdP6XX .navbar .navbar-toggler {
    flex-basis: auto;
  }
}
.cid-qFDGpdP6XX .navbar.navbar-short {
  background: #444444 !important;
  min-height: 60px;
}
.cid-qFDGpdP6XX .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qFDGpdP6XX .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qFDGpdP6XX .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qFDGpdP6XX .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qFDGpdP6XX .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qFDGpdP6XX .dropdown-item.active,
.cid-qFDGpdP6XX .dropdown-item:active {
  background-color: transparent;
}
.cid-qFDGpdP6XX .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qFDGpdP6XX .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qFDGpdP6XX .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qFDGpdP6XX .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #444444;
}
.cid-qFDGpdP6XX .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: -2px 0 0 0;
  left: 100%;
}
.cid-qFDGpdP6XX .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qFDGpdP6XX ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qFDGpdP6XX .navbar-buttons {
  text-align: center;
}
.cid-qFDGpdP6XX button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-qFDGpdP6XX button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-qFDGpdP6XX button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qFDGpdP6XX button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qFDGpdP6XX button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qFDGpdP6XX button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qFDGpdP6XX nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qFDGpdP6XX nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qFDGpdP6XX nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qFDGpdP6XX nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qFDGpdP6XX .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-qFDGpdP6XX a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  letter-spacing: 2px;
}
.cid-qFDGpdP6XX .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-qFDGpdP6XX .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 1.667em 1.667em;
}
.cid-qFDGpdP6XX .nav-dropdown .link {
  margin: 1.667em 1.667em;
}
.cid-qFDGpdP6XX .nav-link:hover,
.cid-qFDGpdP6XX .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-qFDGq8dCuX {
  background-image: url("../../../assets/images/mbr-1623x1080.jpg");
}
.cid-qFDGq8dCuX .mbr-text,
.cid-qFDGq8dCuX .typed-text,
.cid-qFDGq8dCuX .mbr-section-text {
  letter-spacing: 0.03rem;
}
.cid-qFDGq8dCuX .btn {
  margin-left: 4px !important;
}
.cid-qFDGq8dCuX .animated-element {
  color: #ffbc00;
}
.cid-qFDGq8dCuX .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: #ffbc00;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cid-qFDGq8dCuX .mbr-section-title {
  text-align: left;
  color: #eeab58;
}
.cid-qFDGtA5WQu {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #a62a00;
}
.cid-qFDGtA5WQu .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-qFDGtA5WQu .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-qFDGtA5WQu .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-qFDGtA5WQu .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-qFDGtA5WQu .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-qFDGtA5WQu .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-qFDGtA5WQu .mbr-gallery-item > div:hover:before {
  opacity: 0.2 !important;
}
.cid-qFDGtA5WQu .mbr-gallery-item > div:hover .icon-focus {
  top: calc(50% - 24px);
}
.cid-qFDGtA5WQu .mbr-gallery-filter-all > a {
  padding: 30px;
  color: #444444;
}
.cid-qFDGtA5WQu .mbr-gallery-filter {
  padding-top: 0;
  padding-bottom: 2rem;
}
.cid-qFDGtA5WQu .mbr-gallery-filter .btn {
  text-transform: uppercase;
  color: #444444;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 0px !important;
  border: none;
  padding: 12px 15px 12px 15px;
}
.cid-qFDGtA5WQu .mbr-gallery-filter .btn:hover {
  background: transparent;
  color: #ffbc00;
}
.cid-qFDGtA5WQu .mbr-gallery-filter ul {
  display: block;
}
.cid-qFDGtA5WQu .mbr-gallery-filter ul li {
  position: relative;
}
.cid-qFDGtA5WQu .mbr-gallery-filter li.active .btn {
  color: #ffbc00;
  background: transparent;
}
.cid-qFDGtA5WQu .mbr-gallery-filter li::after {
  bottom: 0.5rem;
  content: "";
  height: 4px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) scale(0);
  width: 4px;
  transition: all 0.3s ease-in-out;
  background: #ffbc00;
}
.cid-qFDGtA5WQu .mbr-gallery-filter li.active::after,
.cid-qFDGtA5WQu .mbr-gallery-filter li:hover::after {
  transform: translateX(-50%) scale(1);
  background: #ffbc00;
}
.cid-qFDGtA5WQu .mbr-gallery-title {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-qFDGtA5WQu .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #000000 !important;
  opacity: 0.2;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
.cid-qFDGtA5WQu .icon-focus:before {
  content: '\e95e';
}
.cid-qFDGtA5WQu .icon-focus {
  transition: all .3s;
  font-size: 2rem !important;
  top: 50%;
  left: calc(50% - 24px);
  width: 48px;
  padding: 0 8px;
  border-radius: 50%;
  color: #444444 !important;
  background-color: #ffffff;
}
.cid-qFDGtA5WQu .mbr-section-title {
  margin: 0;
}
.cid-qFDGtA5WQu .underline {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.cid-qFDGtA5WQu .underline .line {
  width: 3rem;
  height: 2px;
  background: #444444;
  display: inline-block;
}
.cid-qFDGtA5WQu .mbr-section-subtitle {
  color: #000000;
}
.cid-qFDGx9pj5Y {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #bf9a30;
}
.cid-qFDGzZsNbk {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #228555;
}
.cid-qFDGzZsNbk .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-qFDGzZsNbk .video-block {
    width: 100% !important;
  }
}
.cid-qFDGEHWBwM {
  padding-top: 90px;
  padding-bottom: 90px;
}
.cid-qFDGEHWBwM .card-title {
  letter-spacing: 0.03em;
  color: #232323;
  margin: 0;
  padding: 0;
}
.cid-qFDGEHWBwM .card {
  margin-bottom: 2rem;
}
.cid-qFDGEHWBwM .card-box {
  word-break: break-word;
  padding-top: 2rem;
}
.cid-qFDGEHWBwM .card-box p {
  color: #444;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 1.5rem;
}
.cid-qFDGEHWBwM .btn {
  margin: .3rem;
}
.cid-qFDGEHWBwM .mbr-section-title {
  margin: 0;
}
.cid-qFDGEHWBwM .card-underline,
.cid-qFDGEHWBwM .underline {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.cid-qFDGEHWBwM .card-underline .line,
.cid-qFDGEHWBwM .underline .line {
  width: 3rem;
  height: 2px;
  background: #444444;
  display: inline-block;
}
.cid-qFDGEHWBwM .card-underline {
  margin-bottom: 1.5rem;
  margin-top: 0 !important;
}
.cid-qFDGEHWBwM .card-underline .line {
  background: #ffbc00;
}
@media (max-width: 767px) {
  .cid-qFDGEHWBwM .row.blog-block {
    padding: 0 1rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qFDGEHWBwM .row-content {
    min-width: 100%;
  }
  .cid-qFDGEHWBwM .card {
    display: block;
  }
}
.cid-qFDGEHWBwM .mbr-section-subtitle {
  color: #000000;
}
.cid-qFDGEHWBwM .card-box > p,
.cid-qFDGEHWBwM .mbr-section-btn {
  color: #000000;
}
.cid-qFDGJ55f7t {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #232323;
}
.cid-qFDGJ55f7t .mbr-section-title {
  margin: 0;
  padding: 15px 0;
  color: #ffffff;
}
.cid-qFDGOOfvW7 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-qFDGOOfvW7 .mbr-section-title {
  letter-spacing: 0.1em;
}
.cid-qFDGOOfvW7 .mbr-section-title span {
  color: #ffbc00;
}
.cid-qFDGOOfvW7 .mbr-section-subtitle {
  color: #ffffff;
  letter-spacing: 0.03em;
}
.cid-qFDGOOfvW7 .progressbar-title p {
  margin-bottom: 8px;
  letter-spacing: 0.03em;
}
.cid-qFDGOOfvW7 .progressbar-title {
  color: white;
}
.cid-qFDGOOfvW7 .progress {
  width: 100%;
  height: 5px;
  border-radius: 0;
}
.cid-qFDGOOfvW7 .progress_elements {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cid-qFDGOOfvW7 .progress_elements > div {
  flex: 0 0 100%;
  max-width: 100%;
}
.cid-qFDGOOfvW7 .progress-bar {
  height: 5px;
  background-color: #ffbc00;
}
.cid-qFDGOOfvW7 .title-wrap {
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.cid-qFDGOOfvW7 .progressbar-number {
  display: inline-block;
}
.cid-qFDGOOfvW7 .progress-primary {
  background: rgba(206, 206, 206, 0.4);
  border: none;
  outline: none;
}
.cid-qFDGOOfvW7 .progress-primary::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-qFDGOOfvW7 .progress_value {
  position: relative;
  color: #ffbc00;
}
.cid-qFDGOOfvW7 progress[value]::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-qFDGOOfvW7 progress::-webkit-progress-value {
  background: #ffbc00;
}
.cid-qFDGOOfvW7 progress[value]::-moz-progress-bar {
  background: #ffbc00;
}
.cid-qFDGOOfvW7 progress::-ms-fill {
  background: #ffbc00;
}
.cid-qFDGOOfvW7 .progress1 .progressbar-number:before {
  content: '100';
}
.cid-qFDGOOfvW7 .progress2 .progressbar-number:before {
  content: '63';
}
.cid-qFDGOOfvW7 .progress3 .progressbar-number:before {
  content: '41';
}
.cid-qFDGOOfvW7 .progress4 .progressbar-number:before {
  content: '28';
}
.cid-qFDGOOfvW7 .progress5 .progressbar-number:before {
  content: '10';
}
.cid-qFDGOOfvW7 .progress-bar-1 {
  width: 100%;
}
.cid-qFDGOOfvW7 .progress-bar-2 {
  width: 63%;
}
.cid-qFDGOOfvW7 .progress-bar-3 {
  width: 41%;
}
.cid-qFDGOOfvW7 .progress-bar-4 {
  width: 28%;
}
.cid-qFDGOOfvW7 .progress-bar-5 {
  width: 10%;
}
.cid-qFDGQ92yRF {
  padding-top: 90px;
  padding-bottom: 90px;
}
.cid-qFDGQ92yRF .title {
  padding: 0 1em;
  margin-bottom: 25px;
  color: #232323;
}
.cid-qFDGQ92yRF .price-item {
  background: #eeab58;
  padding: 25px 0em;
  margin-bottom: 1em;
  border: 1px solid #f1f1f1;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.cid-qFDGQ92yRF .price-tage {
  background: #77622c none repeat scroll 0 0;
  padding: 15px 1em;
}
.cid-qFDGQ92yRF .pricing-footer {
  display: flex;
  justify-content: center;
}
.cid-qFDGQ92yRF .price-tage > span {
  letter-spacing: 2px;
}
.cid-qFDGQ92yRF .table-content {
  padding: 0;
  margin-bottom: 25px;
}
.cid-qFDGQ92yRF .table-content > li {
  list-style: none;
  border-bottom: 1px solid #ec9f41;
  padding: 1em 1em;
}
.cid-qFDGQ92yRF .table-content > li:last-child {
  border-bottom: 1px solid #eb9d3c;
}
.cid-qFDGQ92yRF .table-content > li:nth-child(2n) {
  background: #ec9f41 none repeat scroll 0 0;
}
.cid-qFDGQ92yRF .costs {
  color: #ffffff;
}
.cid-qFDGQ92yRF .costs-title {
  color: #ffffff;
}
.cid-qFIVqZXqVb {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qFIVqZXqVb .main-heading-content {
  margin-bottom: 5rem;
}
.cid-qFIVqZXqVb .underline {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.cid-qFIVqZXqVb .underline .line {
  width: 3rem;
  height: 2px;
  background: #444444;
  display: inline-block;
}
.cid-qFIVqZXqVb .form-control {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
  display: block;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.cid-qFIVqZXqVb .form-control,
.cid-qFIVqZXqVb textarea {
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}
.cid-qFIVqZXqVb .google-map {
  width: 100%;
  height: 30rem;
}
.cid-qFIVqZXqVb .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-qFIVqZXqVb a:link {
  text-decoration: none;
}
.cid-qFIVqZXqVb .mbr-section-subtitle {
  color: #232323;
  text-align: center;
}
.cid-qFIVqZXqVb .mbr-section-title,
.cid-qFIVqZXqVb .underline {
  text-align: left;
  color: #ff0028;
}
.cid-qFJBfG4RwT {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1581c6;
}
.cid-qFJBfG4RwT .mbr-section-title {
  margin: 0;
  padding: 15px 0;
  color: #ffffff;
}
.cid-qFDHfbeqEz {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #232323;
}
.cid-qFDHfbeqEz a:link {
  text-decoration: none;
}
.cid-qFDHfbeqEz .icon-transition span {
  color: #ffffff;
  display: block;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  border: 2px solid #ffffff;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-qFDHfbeqEz .icon-transition span:hover {
  background-color: #ffbc00;
}
.cid-qFDHfbeqEz .inner-text {
  line-height: 3em;
}
.cid-qFDHfbeqEz .social-media {
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.cid-qFDHfbeqEz .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-qFDHfbeqEz .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-qFDHfbeqEz .content-text,
.cid-qFDHfbeqEz .inner-text {
  color: #c1c1c1;
}
